n8n_executions_governance_workflow.json
{
    "name": "Vivilo Collection — Executions",
    "nodes": [
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "id": "trigger-node",
            "name": "When Executed by Another Workflow",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "resource": "execution",
                "operation": "get",
                "executionId": "={{ $json.execution_id }}",
                "options": {
                    "activeWorkflows": true
                },
                "requestOptions": {}
            },
            "type": "n8n-nodes-base.n8n",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "id": "get-execution-node",
            "name": "Get an execution",
            "credentials": {
                "n8nApi": {
                    "id": "YOUR_N8N_CREDENTIAL_ID",
                    "name": "n8n account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "// Normalize execution data for 30-column schema\nconst execution = $input.first().json;\n\n// Helper to safely get nested values\nconst get = (obj, path) => {\n  try {\n    const value = path.split('.').reduce((acc, part) => acc?.[part], obj);\n    return (value !== undefined && value !== null && value !== '') ? value : null;\n  } catch {\n    return null;\n  }\n};\n\n// Extract workflow output from last node\nlet workflowOutput = {};\ntry {\n  const runData = execution.data?.resultData?.runData;\n  if (runData) {\n    const lastNodeName = Object.keys(runData).pop();\n    const lastRun = runData[lastNodeName]?.[0];\n    workflowOutput = lastRun?.data?.main?.[0]?.[0] || {};\n  }\n} catch (e) {\n  console.error('Error extracting workflow output:', e);\n}\n\n// ✅ FIX: Extract time_saved from workflow settings, not output\nconst timeSaved = get(execution, 'workflowData.settings.timeSavedPerExecution') || \n                  get(workflowOutput, 'time_saved_seconds');\n\n// ✅ FIX: Count messages_sent from Send message node executions\nlet messagesSent = 0;\ntry {\n  const runData = execution.data?.resultData?.runData || {};\n  if (runData['Send message']) {\n    messagesSent = runData['Send message'].length;\n  }\n  // Fallback to workflow output if present\n  if (!messagesSent && workflowOutput.messages_sent) {\n    messagesSent = workflowOutput.messages_sent;\n  }\n} catch (e) {\n  console.error('Error counting messages:', e);\n}\n\n// ✅ FIX: Detect escalation from Human Assistance Detector node\nlet escalationTriggered = false;\nlet escalationReason = null;\ntry {\n  const runData = execution.data?.resultData?.runData || {};\n  const detector = runData['Human Assistance Detector']?.[0];\n  if (detector?.data?.main?.[1]?.length > 0) {\n    // If fail branch has data, escalation was triggered\n    escalationTriggered = true;\n  }\n  // Also check guardrails output\n  const checks = detector?.data?.main?.[0]?.[0]?.json?.checks || [];\n  if (checks.some(c => c.triggered === true)) {\n    escalationTriggered = true;\n  }\n  // Try to get reason from Risk Classifier if available\n  const classifier = runData['Risk Classifier']?.[0];\n  if (classifier?.data?.main?.[0]?.[0]?.json) {\n    const result = classifier.data.main[0][0].json;\n    escalationReason = result.reason || result.risk_type;\n  }\n} catch (e) {\n  console.error('Error detecting escalation:', e);\n}\n\n// Build normalized data\nreturn [{\n  // Core (8 fields)\n  execution_id: String(execution.id),\n  workflow_id: get(execution, 'workflowId'),\n  workflow_name: get(execution, 'workflowData.name'),\n  finished: execution.finished ?? null,\n  mode: get(execution, 'mode'),\n  status: get(execution, 'status'),\n  retry_of: get(execution, 'retryOf'),\n  organization_id: 'fdca9122-7683-472b-a13f-20cb43bbb9ff',\n  \n  // Timestamps (4 fields)\n  started_at: get(execution, 'startedAt'),\n  stopped_at: get(execution, 'stoppedAt'),\n  created_at: new Date().toISOString(),\n  updated_at: get(execution, 'stoppedAt') || new Date().toISOString(),\n  \n  // Growth (8 fields)\n  upsell_offered: get(workflowOutput, 'upsell_offered'),\n  upsell_accepted: get(workflowOutput, 'upsell_accepted'),\n  upsell_type: get(workflowOutput, 'upsell_type'),\n  late_checkout_value: get(workflowOutput, 'late_checkout_value'),\n  early_checkin_value: get(workflowOutput, 'early_checkin_value'),\n  services_value: get(workflowOutput, 'services_value'),\n  orphan_days_count: get(workflowOutput, 'orphan_days_count') || 0,\n  value_captured: get(workflowOutput, 'value_captured'),\n  \n  // Escalation (4 fields) - ✅ FIXED\n  human_escalation_triggered: escalationTriggered || get(workflowOutput, 'human_escalation_triggered') || false,\n  human_escalation_reason: escalationReason || get(workflowOutput, 'human_escalation_reason'),\n  escalation_priority: get(workflowOutput, 'escalation_priority'),\n  escalation_status: get(workflowOutput, 'escalation_status'),\n  \n  // Performance (4 fields) - ✅ FIXED\n  time_saved_seconds: timeSaved,\n  messages_sent: messagesSent || 0,\n  governance_verdict: get(workflowOutput, 'governance_verdict'),\n  total_charge: get(workflowOutput, 'total_charge'),\n  \n  // JSONB (1 field)\n  workflow_output: JSON.stringify(workflowOutput)\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "id": "code-normalize-node",
            "name": "Normalize Execution Data"
        },
        {
            "parameters": {
                "operation": "upsert",
                "table": "executions",
                "dataMode": "autoMapInputData",
                "onConflict": "execution_id",
                "options": {}
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "id": "supabase-upsert-node",
            "name": "Upsert to Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Get an execution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get an execution": {
            "main": [
                [
                    {
                        "node": "Normalize Execution Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Execution Data": {
            "main": [
                [
                    {
                        "node": "Upsert to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "id": "MWXnAtKd8tzVJayI",
    "active": true
}